/* 0. 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Nanum+Pen+Script&display=swap');

.jua-regular {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 0. 각 섹션 CONTAINER 속성 */
.hot-live-chats,
.hot-ozirap,
.hash-shop-section {
  background-color: whitesmoke;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 0 0 10px;
  color: rgb(36, 36, 36);
}

h2:hover {
  color: rgb(201, 51, 51);
}

/* 1. HOT - LIVECHAT CONTAINER */
.hot-live-chats-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;
  height: 335px;
}

/* 1-1. HOT - LIVECHAT CONTAINER, HASH SHOP CONTAINER 스크롤바 속성 */
/* 1-1-1. 스크롤바 */
.hot-live-chats-container::-webkit-scrollbar,
.hash-shop-container::-webkit-scrollbar {
  border-radius: 10px;
  width: 5px;
}

/* 1-1-2. 스크롤바 트랙 */
.hot-live-chats-container::-webkit-scrollbar-track,
.hash-shop-container::-webkit-scrollbar-track {
  background-color: rgb(208, 209, 223);
  box-shadow: inset 0px 0px 5px white;
  border-radius: 10px;
}

/* 1-1-3. 스크롤바 몸통 */
.hot-live-chats-container::-webkit-scrollbar-thumb,
.hash-shop-container::-webkit-scrollbar-thumb {
  background-color: rgb(70, 69, 77);
  box-shadow: inset 0px 0px 5px rgb(175, 175, 175);
  border-radius: 10px;
}

/* 1-1-4. 스크롤바 몸통 호버 */
.hot-live-chats-container::-webkit-scrollbar-thumb:hover,
.hash-shop-container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(36, 36, 36);
  transition: all 0.2s;
}

/* 1-1-5. 스크롤바 양끝 좌우버튼 */
.hot-live-chats-container::-webkit-scrollbar-button,
.hash-shop-container::-webkit-scrollbar-button {
  border-radius: 10px;
  display: none;
}

/* 1-2. LIVECHAT CARD */
.hot-live-chat-card {
  /* 1-2-1. 카드 기본 속성 */
  width: 190px;
  min-width: 190px;
  height: 315px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

/* 1-2-2. 카드 내부 속성 */
.hot-live-chat-card-inner {
  background-color: rgb(36, 36, 36);
  color: white;
  width: 93%;
  height: 93%;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

/* 1-2-3. 카드 호버 */
.hot-live-chat-card-inner:hover {
  width: 97%;
  height: 97%;
  box-shadow: 25px 25px 20px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

/* 1-3. LIVECHAT CARD 내부 */
/* 1-3-1. CARD IMAGE 썸네일 공간 속성 */
.card-thumbnail {
  padding: 10px;
  height: 210px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

/* 1-3-2. CARD IMAGE 자체 속성 */
.card-thumbnail-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* 1-3-3. CHAT INFO */
.chat-info {
  width: 160px;
  height: 65px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

/* 1-3-3-1. CHAT 제목 */
.chat-title {
  margin: 0px;
  width: 160px;
  height: 20px;
  margin-bottom: 3px;
}

.chat-title:hover {
  color: rgb(233, 233, 22);
}

.chat-title-var {
  display: block;
  width: 160px;
  font-size: 16px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 1-3-3-2. CHAT 방장 */
.chat-maker {
  margin: 0px;
  width: 160px;
  height: 20px;
}

.chat-maker:hover {
  color: rgb(238, 165, 82);
}

.chat-maker-var {
  display: block;
  width: 160px;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 1-3-3-3. CHAT 인원수 */
.chat-headcount {
  margin: 0px;
  width: 160px;
  height: 20px;
}

.chat-headcount:hover {
  color: rgb(155, 155, 201);
}

.chat-headcount-var {
  display: block;
  width: 160px;
  font-size: 13px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 2. HOT - 5ZIRAP CONTAINER */
.hot-ozirap-container {
  display: flex;
  flex-direction: row;
}

/* 2-1. HOT POST RANK */
.hot-post-rank {
  width: 680px;
  min-width: 400px;
  height: 285px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 5px;
  padding: 10px;
}

/* 2-1-1. POST RANK TABS*/
ul.hot-post-rank-tabs {
  height: 42px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* 2-1-2. POST RANK TAB LISTS */
ul.hot-post-rank-tabs li {
  width: 100px;
  border-radius: 10px 10px 0px 0px;
  background: rgb(207, 206, 214);
  color: black;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

/* 2-1-3. POST RANK TAB LISTS CURRENT */
ul.hot-post-rank-tabs li.current {
  border-radius: 10px 10px 0px 0px;
  background: rgb(36, 36, 36);
  color: white;
}

/* 2-1-4. POST RANK TAB CONTENTS BOX */
.tab-contents-box {
  width: auto;
  min-width: 370px;
  height: 215px;
  border-radius: 0px 0px 10px 10px;
  display: none;
  padding: 15px;
}

/* 2-1-5. POST RANK TAB CONTENTS BOX CURRENT */
.tab-contents-box.current {
  width: auto;
  min-width: 370px;
  height: 215px;
  border-radius: 0px 0px 10px 10px;
  display: inherit;
  background: #e8eaec;
}

/* 2-1-6. POST INFO */
.post-info {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 22px;
  cursor: pointer;
}

/* 2-1-6-1. POST TITLE */
.post-title {
  width: 310px;
  min-width: 215px;
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;

  /* 내부 (제목 + 댓글수) */
  display: flex;
  flex-direction: row;
}

/* 2-1-6-1-A. POST TITLE VAR */
.post-title-var {
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.post-title-var:hover {
  color: rgb(61, 61, 253);
}

/* 2-1-6-1-B. POST COMMENTS VAR */
.post-title-comment-var {
  width: 50px;
  min-width: 50px;
  color: rgb(61, 61, 253);
}

/* 2-1-6-2. POST WRITER */
.post-writer {
  width: 140px;
  min-width: 140px;
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
}

.post-writer-var:hover {
  color: rgb(238, 165, 82);
}

/* 2-1-6-3. POST DATE */
.post-date {
  width: 95px;
  min-width: 95px;
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 2-2. WEEKLY & TOTAL POINT RANK */
.point-rank {
  width: 285px;
  min-width: 260px;
  height: 285px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 5px;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 2-2-1. POINTT RANK TABS*/
ul.point-rank-tabs {
  height: 42px;
  min-width: 42px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 2-2-2. POINT RANK TAB LISTS */
ul.point-rank-tabs li {
  width: 97px;
  border-radius: 10px 10px 0px 0px;
  background: rgb(207, 206, 214);
  color: black;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 2-2-3. POINT RANK TAB LISTS CURRENT */
ul.point-rank-tabs li.current {
  border-radius: 10px 10px 0px 0px;
  background: rgb(36, 36, 36);
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 2-2-4. POINT RANK TAB RANKING BOX */
.tab-ranking-box {
  width: auto;
  min-width: 165px;
  height: 215px;
  border-radius: 0px 0px 10px 10px;
  display: none;
  padding: 15px;
}

/* 2-2-5. POINT RANK TAB RANKING BOX CURRENT */
.tab-ranking-box.current {
  width: auto;
  min-width: 165px;
  height: 215px;
  border-radius: 0px 0px 10px 10px;
  display: inherit;
  background: #e8eaec;
}

/* 2-2-6. POINT RANK INFO */
.point-rank-info {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 22px;
}

/* 2-2-6-1. POINT RANK RANKING */
.point-rank-ranking {
  width: 20px;
  min-width: 20px;
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
  text-align: center;
}

/* 2-2-6-1. POINT RANK RANKING VAR */
.point-rank-ranking-var {
  text-align: center;
}

/* 2-2-6-2. POINT RANK NICKNAME */
.point-rank-nickname {
  width: 155px;
  min-width: 60px;
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
}

.point-rank-nickname:hover {
  color: rgb(238, 165, 82);
}

/* 2-2-6-3. POINT RANK POINT */
.point-rank-point {
  width: 65px;
  min-width: 60px;
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
}

/* 2-3. WEEKLY HASHTAG RANK */
.weekly-hashtag-rank {
  width: 21%;
  min-width: 190px;
  height: 285px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 0px;
  padding: 10px;
}

/* 2-3-1. HASHTAG RANK TABS*/
ul.hashtag-rank-tabs {
  height: 42px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 2-3-2. HASHTAG RANK TAB LISTS */
ul.hashtag-rank-tabs li {
  width: 80px;
  border-radius: 10px 10px 0px 0px;
  background: rgb(207, 206, 214);
  color: black;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 2-3-3. HASHTAG RANK TAB LISTS CURRENT */
ul.hashtag-rank-tabs li.current {
  border-radius: 10px 10px 0px 0px;
  background: rgb(36, 36, 36);
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 2-3-4. HASHTAG RANK TAB RANKING BOX */
.tab-hashtag-box {
  width: auto;
  min-width: 165px;
  height: 215px;
  border-radius: 0px 0px 10px 10px;
  display: none;
  padding: 15px;
}

/* 2-3-5. HASHTAG RANK TAB RANKING BOX CURRENT */
.tab-hashtag-box.current {
  width: auto;
  min-width: 165px;
  height: 215px;
  border-radius: 0px 0px 10px 10px;
  display: inherit;
  background: #e8eaec;
}

/* 2-3-6. HASHTAG RANK INFO */
.hashtag-rank-info {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 22px;
  cursor: pointer;
}

/* 2-3-6-1. HASHTAG RANK RANKING */
.hashtag-rank-ranking {
  width: 20px;
  min-width: 20px;
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
  text-align: center;
}

/* 2-3-6-1. HASHTAG RANK RANKING VAR */
.hashtag-rank-ranking-var {
  text-align: center;
}

/* 2-3-6-2. HASHTAG RANK HASHTAG */
.hashtag-rank-hashtag {
  width: 155px;
  min-width: 80px;
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
}

.hashtag-rank-hashtag:hover {
  color: rgb(170, 103, 214);
}

/* 2-3-6-3. HASHTAG RANK COUNT */
.hashtag-rank-count {
  width: 65px;
  min-width: 40px;
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
}

/* 쇼핑몰 검색 */
.shopping-item-card {
  /* 카드 기본 속성 */
  width: 190px;
  min-width: 190px;
  height: 315px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

/* 카드 내부 속성 */
.shopping-item-card-inner {
  background-color: rgb(36, 36, 36);
  color: white;
  width: 93%;
  height: 93%;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

/* 카드 호버 효과 */
.shopping-item-card-inner:hover {
  width: 97%;
  height: 97%;
  box-shadow: 25px 25px 20px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

/* 카드 이미지 썸네일 */
.card-thumbnail {
  padding: 10px;
  height: 180px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

/* 카드 이미지 속성 */
.card-thumbnail-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* 카드 정보 */
.item-info {
  width: 160px;
  height: 65px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

/* 상품 제목 */
.item-title {
  margin: 0px;
  width: 160px;
  height: 20px;
  margin-bottom: 3px;
  color: white;
}

.item-title:hover {
  color: rgb(233, 233, 22);
}

.item-title-var {
  display: block;
  width: 160px;
  font-size: 16px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 상점 이름 */
.item-mall {
  margin: 0px;
  width: 160px;
  height: 20px;
  color: gray;
}

.item-mall:hover {
  color: rgb(238, 165, 82);
}

.item-mall-var {
  display: block;
  width: 160px;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 가격 정보 */
.item-price {
  margin: 0px;
  width: 160px;
  height: 20px;
  color: rgb(255, 255, 255);
}

.item-price:hover {
  color: rgb(155, 155, 201);
}

.item-price-var {
  display: block;
  width: 160px;
  font-size: 13px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 1. HASH SHOP CONTAINER */
.hash-shop-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;
  height: 335px;
}
