body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* 로그인 페이지 전체 폼 */
.container {
  max-width: 400px;
  margin: 50px auto auto auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0000001a;
  display: grid;
  place-items: center;
}

/* 로그인 폼 */
.login-form {
  width: 300px;
}

.logo-image {
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(36, 36, 36);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 3px;
}

button:hover {
  background-color: #333;
  /* hover 시 배경색 변화 */
}

.sign-up,
.forgot-password {
  font-size: 15px;
  margin-top: 0px;
}

/* 소셜 로그인 버튼들 모음집 */
.social-buttons {
  display: flex;
  flex-direction: row;
}

.naver_id_login {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 3px;
  cursor: pointer;
}

.naver_login_long {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.naver_login {
  width: 55px;
  height: 55px;
  border-radius: 5px;
  margin-right: 0px;
}

.kakao_login {
  width: 55px;
  height: 55px;
  border-radius: 5px;
  margin-right: 5px;
}

.google_login {
  width: 55px;
  height: 55px;
  border-radius: 5px;
  margin-right: 5px;
}

.instagram_login {
  width: 55px;
  height: 55px;
  border-radius: 5px;
  margin-right: 5px;
}

.facebook_login {
  width: 55px;
  height: 55px;
  border-radius: 5px;
  margin-right: 0px;
}

/* 반응형 디자인 */
@media (max-width: 600px) {
  .container {
    margin: 20px;
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  button {
    font-size: 14px;
  }
}
