table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.write-button {
  text-align: center;
}

.write-button button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.filter-container select,
input,
button {
  border-radius: 5px;
  margin: 3px;
}

.notLogIn {
  text-align: center;
}

.deleteLog {
  border: 0px;
  background-color: white;
  cursor: pointer;
}

/* 모달 */
.log-detail-modal {
  visibility: hidden;

  display: flex;
  flex-direction: column;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  padding: 10px;

  border-radius: 10px;
  background-color: black;
  color: white;
}

.modal-user-agent {
  display: flex;
  flex-direction: column;
}

.modal-id-time,
.modal-context-level,
.modal-method-duration,
.user-id-ip {
  display: flex;
  flex-direction: row;
}
