.live-chat,
.weekly-posts {
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.live-chat li,
.weekly-posts li {
  list-style-type: none;
  padding: 5px;
  letter-spacing: 1px;
}

h2 {
  margin: 0 0 10px;
}

ul {
  list-style: none;
  padding: 0;
}