table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.write-button {
  text-align: center;
}

.write-button button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.filter-container select,
input,
button {
  margin: 3px;
}

.post-write {
  position: fixed;
  border: 3px solid black;
  border-radius: 50%;

  width: 80px;
  height: 80px;

  bottom: 8%;
  left: 77%;

  cursor: pointer;
}
