/* 0. 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Nanum+Pen+Script&display=swap');

.jua-regular {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-menu > button,
header,
main,
footer,
body {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-style: normal;
}

header,
main,
footer {
  min-width: 620px;
  max-width: 1200px;
  /* 최대 너비 설정 */
  margin: 0 auto;
  /* 중앙 정렬 */
  padding: 10px 10px;
  /* 안쪽 여백*/
}

header {
  position: fixed;
  /* 고정 위치 */
  top: 0;
  /* 상단에 위치 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 4px;
  /* text-align: center; */
  z-index: 1000;
  /* 다른 요소 위에 표시 */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo-home {
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
.logo-home:hover {
  color: rgb(201, 51, 51);
}

.admin-btn {
  font-size: 24px;
  font-weight: bold;
  color: rgb(228, 228, 107);

  cursor: pointer;
}
.admin-btn:hover {
  color: rgb(201, 51, 51);
}
#admin-btn {
  display: none;
}

/* 헤더 : 닉네임 + 로그아웃 부분 */
.user-info {
  max-width: 285px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}
#userNickname {
  width: 175px;
  justify-content: baseline;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.nickname {
  color: rgb(238, 165, 82);
  width: 175px;
  text-align: right;
  justify-content: baseline;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.nim {
  width: 15px;
  min-width: 15px;
  display: flex;
  text-align: right;
  align-items: end;
  justify-content: center;
}
.logout-link {
  width: 95px;
  min-width: 95px;
  display: flex;
  text-align: right;
  align-items: end;
  justify-content: center;
}
.logout-link:hover {
  color: rgb(201, 51, 51);
}

/* MAIN 위아래 */
main {
  padding-top: 80px;
  /* 헤더 높이에 맞춰 여백 추가 */
  padding-bottom: 80px;
  /* 푸터 높이에 맞춰 여백 추가 */
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  color: white;
  background-color: #000000;
  text-align: center;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer button {
  background-color: #000000;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

footer button:hover {
  color: rgb(201, 51, 51);
}

/* 반응형 디자인 */
@media (max-width: 200px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    padding: 0;
  }

  nav a {
    margin-bottom: 10px;
  }

  .footer-menu {
    flex-direction: column;
  }
}
