# Server Port
SERVER_PORT=3000

# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME="hunsu-project"
DB_SYNC=true

# Security
PASSWORD_HASH_ROUNDS=10
JWT_SECRET="YouAreNotRestful"

# Email Auth
NODE_MAILER_ID="asdf@asdf.com"
NODE_MAILER_PASSWORD="asdf asdf asdf asdf"
