body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header,
main,
footer {
  max-width: 1200px; /* 최대 너비 설정 */
  margin: 0 auto; /* 중앙 정렬 */
  padding: 10px 20px; /* 안쪽 여백 */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav li:hover {
  background-color: #8f8f8f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

.live-chat,
.weekly-posts {
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 0 0 10px;
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #333;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #8f8f8f;
}

/* 반응형 디자인 */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    padding: 0;
  }

  nav a {
    margin-bottom: 10px;
  }

  .footer-menu {
    flex-direction: column;
  }
}
